{{- $sidebar  := .Site.Params.sidebar }}
{{- $logo     := index $sidebar "logo" }}
{{- $sections := index $sidebar "sections" }}
<div class="sidebar">
  <div class="sidebar-header">
    <img src="{{ printf "balabox/images/logos/%s.svg" $logo | relURL }}">
    <a class="sidebar-close" href="javascript:void(0);">
      <i data-feather="x"></i>
    </a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">
      {{- range $sections }}
      <li class="have-children">
        <a href="#">
          <span class="fa fa-{{ .icon }}"></span>
          {{ .title }}
        </a>
        <ul>
          {{- range .links }}
          <li>
            <a href="{{ .url }}">
              {{ .text }}
            </a>
          </li>
          {{- end }}
        </ul>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
